# игнорировать все файлы в каталоге penv/
# игнорировать все файлы в каталоге penv37/
penv/
penv37/

# игнорировать кешируемые файлы среды python и/или оболочки
__pycache__/

# игнорировать все главные файлы нейросетей (структуру моделей и их веса)
models/
dataset